@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf);
}
body{
    font-family: ubuntu;
}
nav .all_nav{
    background: rgb(8, 8, 71);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    margin: -10px -10px;
}
nav ul {
    list-style-type: none;  
}
nav ul li a{
    text-decoration: none;
    color: white;
}

